# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Hardhat (Contracts)
artifacts/
cache/
coverage/
typechain-types/
typechain/

# Compilation output
types/
bundle/

# pnpm deploy output
/bundle

# Editor and IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.local
.cache/
